<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=" stylesheet" href="home.css">
</head>
<body>
    

    <div class="first_images">

      
       
      
        <div class="box3">
           
            <div class="shade">

                <br>
            <h1>About Us</h1>
            <br>

            <h2>Kuncho Mindset</h2>
            <div class="about__info">
                <p>
                   Kuncho Mindset age 24 real names Gift Kunyanda founder of Kuncho Dynasty Music
                </p>
                
           </div>



           <h2>Happy Foreva Records</h2>
           <div class="about__info">
               <p>
                  Kuncho Dynasty Music was Founded by Gift Kunyanda well known as Kuncho Mindset.This is a record label run by a great team. Its main purpose is to put Zambian talent on the map worldwide. 
               </p>
               
          </div>

           
        </div>
       
    
        </div>
      

    <br>
       
    </div>

    

<div class="blend-title">
    <h2>Booking Performances</h2>
</div>
<br>
    <section class="blend">
        <br>
        <div class="loginbox">
   
            <form>
        
        
                
        
                <h1>Book Us</h1>
          
                <br>
            
        
            
            <input type="text" name="" placeholder="Enter Email Address" required>
            <br>
            <br>
            
            
         
            <input type="text" name="" placeholder="Enter your Phone number" required>
            <br>
            <br>
            
        
        
      

        <select>
            <option value="#">Select type of Booking</option>
            <option value="#">Club Performance</option>
            <option value="#">Birthday Performance</option>
            <option value="#">Event Performance </option>
            <option value="#">Corprate Performance</option>
            <option value="#"></option>
        </select>
        <br>
        <br>
        <br>
             
                <div class="demoo_btn">
                     <button type="submit">Send</button> 
            
                   
                   
                </div>
            
            </form>
        </div>
      


       
    </section>

</body>
</html>