.footer {
    height: 55vh;
    display: flex;
    width: 100%;
    background-position: top;
    width: 100%;
    background-image: url("./images/mic.JPG");
    background-position: center;
    background-size: cover;
    color: #fff;
    flex-wrap: wrap;
}

.footer__left, .footer__right {
    flex: 1;
}
.footer__left {
    display: flex;
    align-items: center;
    width: 100%;
}
.footer__left-container {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40%;
}
.left__contacts {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    gap: 18px;
    justify-content: space-evenly;
    cursor: pointer;
}

.left__contacts span:hover {
    color: red;
    transition: all ease 0.3s;
}
.footer__left-icons {
    width: 160px;
    display: flex;
    justify-content: space-evenly;
}

.footer__left img {
    height: 50px;
    object-fit: contain;
    border-radius: 100px;
    margin: 30px 80px;
}
.footer__right {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
}

.footer__right > .right {
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: center;

}

.footer__right span {
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}
.footer__right h2 {
    color: #fff;
}
.footer__right span:hover {
    color: red;
}
